::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body, label, input, button, a, table, p, link, h1, h2, h3
, h4, h5, h6, ol, ul, address, menu, blockquote, center, del
, div, span, noscript, pre, abbr, em, strong, b, i, big, small
, tt, fieldset, param {
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

:-moz-any-link :focus {
	outline: none;
}

:focus {
	-moz-outline-style: none;
	outline: none;
}

input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}

span.required {
    color: red;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

div.error {
	color: red;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

input.error {
	border: 2px solid red;
}

.admin-login-box {
    border: 1px solid #7F7F7F;
    margin-top: 100px;
    padding: 7px;
    background-color: #FFFFFF;
}

a:link, a:visited {
	color:#27b;
	text-decoration:none;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

a:hover {
	text-decoration:underline;
}

a img {
	border-width:0;
}

.legal {
    margin: 0;
    margin-top: 20px;
    font-size: 0.6em;
    text-align: center;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.hand-cursor {
    cursor: pointer;
}

ul.no-bullet {
    list-style-type: none;
}

ul.no-bullet li {
    padding: 0;
    margin-left: 0;
}

#cart {
    float: left;
    position: relative;
    cursor: pointer;
}

.label {
    color: #800000;
}

ul.order table {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* box */
.box {
    margin-bottom: 20px;
}
.box .box-heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    background: url('images/box_background.png') repeat-x;
    padding: 8px 10px 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #333;
}
.box .box-content {
    background: #FFFFFF;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
    padding: 10px;
}
/* box products */
.box-product {
    width: 100%;
    overflow: auto;
}
    
.box-product > div {
    width: 134px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;    
}
.box-product .image {
    display: block;
    margin-bottom: 0px;
}
.box-product .image img {
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.box-product .name a {
    color: #38B0E3;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}
.box-product .price {
    display: block;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}
.box-product .price-old {
    color: #F00;
    text-decoration: line-through;
}
.box-product .price-new {
    font-weight: bold;
}
.box-product .rating {
    display: block;
    margin-bottom: 4px;
}
/* box category */
.box-category {
    margin-top: -5px;
}
.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box-category > ul > li {
    padding: 8px 8px 8px 0px;
}
.box-category > ul > li + li {
    border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
    text-decoration: none;
    color: #333;
}
.box-category > ul > li ul {
    display: none;
}
.box-category > ul > li a.active {
    font-weight: bold;
}
.box-category > ul > li a.active + ul {
    display: block;
}
.box-category > ul > li ul > li {
    padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
    text-decoration: none;
    display: block;
}
.box-category > ul > li ul > li > a.active {
    font-weight: bold;
}

/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;
}
#footer h3 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 12px;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}

/* Cart */
div#cart {
	position: absolute;
	top: 0px;
	right: 145px;
	z-index: 9;
	min-width: 300px;
}
div#cart .heading {
	float: right;
	margin-right: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
	background: #FFF;
	position: relative;
	z-index: 1;
}
div#cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
div#cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
div#cart .heading a span {
	background: #FFFFFF url('images/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
div#cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

div#cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
div#cart.active .content {
	display: block;
}
div#cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
div#cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
div#cart .cart .image {
	width: 1px;
}
div#cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
div#cart .cart .name small {
	color: #666;
}
div#cart .cart .quantity {
	text-align: right;
}
div#cart .cart td.total {
	text-align: right;
}
div#cart .cart .remove {
	text-align: right;
}
div#cart .cart .remove img {
	cursor: pointer;
}
div#cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
div#cart table.total td {
	color: #000;
}
div#cart .content .checkout {
	text-align: right;
	clear: both;
}
div#cart .empty {
	padding-top: 50px;
	text-align: center;
}

/* button */
a.button {
	display: inline-block;
	padding-left: 6px;
	background: url('images/button-left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('images/button-right.png') top right no-repeat;
}
a.button:hover {
	background: url('images/button-left-active.png') top left no-repeat;
}
a.button:hover span {
	color: #FFFFFF;
	background: url('images/button-right-active.png') top right no-repeat;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Table List */
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}

/* table form */
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
